<div class='container-bg'>
  <div
    class='d-flex flex-column align-items-center justify-content-center pt-5 pb-5'
  >

    <h1 class='display-5 mb-3 mt-4'>Shopping Cart</h1>

    <div class='col-11 col-sm-8'>
      {{#if admin}}
        <div>
          <div class='alert alert-primary'>This is an administrator account</div>

        </div>

      {{else if noItems}}
        <table class='table'>
          <thead>
            <tr>
              <th scope='col'>Product</th>
              <th scope='col'>Price</th>
              <th scope='col'>Quantity</th>
              <th scope='col'>Total</th>
              <th scope='col'></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan='5'>
                <div class='alert alert-danger' role='alert'>
                  Your cart is empty
                </div>
              </td>

            </tr>

          </tbody>
        </table>
      {{else}}
        <div class='cart-table' data-cart-id='{{cid}}'>
          <table class='table'>
            <thead>
              <tr>
                <th scope='col'>Product</th>
                <th scope='col'>Price</th>
                <th scope='col'>Quantity</th>
                <th scope='col'>Total</th>
                <th scope='col'></th>
              </tr>
            </thead>
            <tbody>
              {{#each cartItems}}
                <tr data-product-id='{{this.product._id}}'>
                  <td>
                    <div
                      class='d-flex flex-column align-items-center justify-content-center'
                    >

                      {{this.product.title}}
                      <img
                        src='{{this.product.thumbnail}}'
                        height='100px'
                        width='100px'
                        alt='{{this.prouct.title}} image'
                      />
                    </div>

                  </td>
                  <td>${{this.product.price}}</td>
                  <td>
                    <div class='input-group'>
                      <button
                        class='btn btn-outline-secondary minus-btn'
                        type='button'
                        data-id='{{this.product.id}}'
                      >-</button>
                      <input
                        type='number'
                        class='form-control qty-input text-center'
                        value='{{this.quantity}}'
                        data-id='{{this.product.id}}'
                      />
                      <button
                        class='btn btn-outline-secondary plus-btn'
                        type='button'
                        data-prod-id='{{this.product.id}}'
                      >+</button>
                    </div>
                  </td>
                  <td
                    class='prod-sub-total'
                    data-price='{{this.product.price}}'
                    data-quantity=' {{this.quantity}}'
                  >$<span id='subTotal'></span></td>
                  <td>
                    <button
                      class='btn btn-danger remove-btn'
                      type='button'
                      data-prod-id='{{this.product._id}}'
                    >Remove</button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class='cart-total'>
          <div class='row'>
            <div class='col-6'>Total:</div>
            <div class='col-6 text-end' id='total-text'>${{total}}</div>
          </div>
          <div class='text-end'>
            <a href='/checkout' class='btn btn-primary mt-3'>Checkout</a>
          </div>
        </div>
      {{/if}}
    </div>

  </div>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/cart.js'></script>